@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar-brand{
    padding-left: 50px;

}
*{
    box-sizing: border-box;
}
.navbar-nav a{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 17px;

}


/* .main-header{
    background: linear-gradient(#48649f,#3b5998);
} */
/* .welcome-area{
    padding-top: 100px;
    margin-top: 100px;
    background-color: #3b5998;
} */

.main-footer{
    /* background-color:#FFD77C ; */
    background-color: #D1D0CE;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }



  .carousel, .item, .active {
    height:100%;
    }
    .carousel-inner {
    height:100%;
    }
    .carousel {
    margin-bottom: 60px;
    }
    .carousel-caption {
    z-index: 10;
    }
    .carousel .item {
    background-color: #777;
    }
    .carousel .carousel-inner .bg {
    background-repeat:no-repeat;
    background-size:cover;
    }
    .carousel .carousel-inner .bg1 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
    background-position: center top;
    }
    .carousel .carousel-inner .bg2 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
    background-position: center center;
    }
    .carousel .carousel-inner .bg3 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
    background-position: center bottom;
    }