@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar-brand{
    padding-left: 50px;

}
*{
    box-sizing: border-box;
}
.navbar-nav a{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 17px;

}


/* .main-header{
    background: linear-gradient(#48649f,#3b5998);
} */
/* .welcome-area{
    padding-top: 100px;
    margin-top: 100px;
    background-color: #3b5998;
} */

.main-footer{
    /* background-color:#FFD77C ; */
    background-color: #D1D0CE;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }

/* 

  .carousel, .item, .active {
    height:100%;
    }
    .carousel-inner {
    height:100%;
    }
    .carousel {
    margin-bottom: 60px;
    }
    .carousel-caption {
    z-index: 10;
    }
    .carousel .item {
    background-color: #777;
    }
    .carousel .carousel-inner .bg {
    background-repeat:no-repeat;
    background-size:cover;
    }
    .carousel .carousel-inner .bg1 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
    background-position: center top;
    }
    .carousel .carousel-inner .bg2 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
    background-position: center center;
    }
    .carousel .carousel-inner .bg3 {
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
    background-position: center bottom;
    } */

    html, 
body {
	height: 100%;
}

/* *, ::after, ::before {

    box-sizing: border-box;

} */

h1,
h2,
h3 {
	margin: 0 0 .5rem;
	font-size: 50px;
	font-weight: 400;
}
.headding-h2 {
	color: #6c757d !important;
}
p {
	margin: 0 0 1.25rem;
	line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
	background :#fff;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.hr-line {
	background: #fff; 
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border-top: 1px solid rgba(0,0,0,.1);
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/*/////////////////////////////////////slider-container/////////////////////////////*/




.btn span  {
	display: block;
	margin: 6px;
	width: 40px;
	height: 3px; 
	/* background:#16ebcb; */
}

.btn  {
	position: absolute;
	right: 20px;
	color:#beeae1;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
	font-size: 14px;
}


/*------------------------Slider-------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.slider-container {
	width: 100%;
	height: auto;
	background: #777777;
	padding-top: 60px;
	overflow: hidden;
}

.slider  {
	height: 30vh;
	margin: auto;
	text-align: center;
	display: center;
    justify-content: space-evenly;
	align-items: center;
	position: relative; 
	padding-top: 5%;
}
.item-header {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.item-para {
	font-size: 1.25rem;
	line-height: 1.4;
}

.item-1, 
.item-2, 
.item-3  {
	position: absolute;
  	display: block;
	width: 60%;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	color: #fff;
}

.item-1 {
	animation-name: anim-1;
	text-align: right;	
}

.item-2 {
	animation-name: anim-2;
	text-align: center;
	
}

.item-3 {
	animation-name: anim-3;
	text-align: left;
	
}

 
@keyframes anim-1  {
	0%, 8.3% { right: -100%; opacity: 0; }
	8.3%,25% { right: 20%; opacity: 1; }
	33.33%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { right: -100%; opacity: 0; }
	41.63%, 58.29% { right: 20%; opacity: 1; }
	66.66%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { right: -100%; opacity: 0; }
	74.96%, 91.62% {right: 20%; opacity: 1; }
	100% { right: 110%; opacity: 0; }
}
 
.Slider-btn-1  {
	background: #007bff;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-family: sans-serif;
	font-size: 18px;
	height: 50px;
	min-width: 80px;
	width: 15%;
	cursor: pointer;
}

.Slider-btn-1:hover  {
	background: #030d7e;
}
#active {
	text-align: center; 
	margin: 1%  2%;
}

#active label {
	width: 30px;
	height: 3px;
	background: #ccc;
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 1px;
  }
  active label:hover {background: rgba(239, 239, 239, 0.952);}




/*/////////////////////////////////////Box-container/////////////////////////////*/
.container  {
	position: relative;
  	background: #fff;
	height: auto;
  	margin: 2% auto;
  	padding: 2%;
  	width: 80%;
}

.base-heading  {
	width: 85%;
	margin: 10px auto;
  	align-items: center;
  	background: #fff;
  	display: flex;
  	flex-direction: row-reverse;
}

.card-heading-2 {
	flex-direction: row;
}

.heading  {
	width: 75%;
	position: relative;
  	background: #fff;
  	height: 15%;
	text-align: center;
	margin: 25px;
	color: #5a5a5a;
	line-height: 1;	
}

.box  {
	background: #494c51;
	margin: auto;
	/* height: 100%;
	width: 100%; */
	max-height: 500px;
	max-width: 500px;
	width: auto;
}

.box img {
	width: 100%;
	height: auto;
}

.card-1 .box  {
	background: transparent url('http://unsplash.it/500/500?random&gravity=south');
}

.card-2 .box  {
	background: transparent url('http://unsplash.it/500/500?random&gravity=east');
}

.card-3 .box  {
	background: transparent url('http://unsplash.it/500/500?random&gravity=center');
}

.heading p  {
	font-size: 1.25rem;
	font-weight: 300;
	color: #5a5a5a;
	line-height: 1.5;
	text-align: left

}
/*/////////////////////////////////////Round-container/////////////////////////////*/

.round-img-container--outer  {
	position: relative;
  	background: #fff;
	height: auto;
  	margin: 4% auto;
  	width: 80%;
}

.round-img-container--inner  {
	margin: 10px auto;
  	align-items: center;
  	background: #fff;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.grid  {
	position: relative;
  	background: #fff;
  	height: 15%;
  	text-align: center;
  	line-height: 25px;
	padding: 10px 24px;
	flex: 0 0 33.333333%;
	/* max-width: 33.333333%; */
}

.round-img {
	background: #494c51;
	content: '';
	height: 10vh;
	margin: auto;
	width: 10vh;
}
.round-img--heading {
	color: rgb(90, 90, 90);
	font-size: 2em;
	font-weight: 400;
	line-height: 1.2;
}
.btn-secondary {
	width: 20px;
	height: 10%;
	background: #6c757d;
	padding: 6px 35px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 400;
}
.btn-secondary:hover {
	border-color: #333434;
}
::after::before {
	box-sizing: border-box;
}

/* .round-img-container--outer p  {
	margin: 10px;
} */

.round-img--text  {
	color: #5a5a5a;
}

.round-img--single-1 .round-img {
	background: transparent url('http://unsplash.it/300/200?random&gravity=south');
}

.round-img--single-2 .round-img {
	background: transparent url('http://unsplash.it/300/200?random&gravity=east');
}

.round-img--single-3 .round-img {
	background: transparent url('http://unsplash.it/300/200?random&gravity=north');
}

.hr-line {
	 width: 85%; 
	height: 0px;
	color: rgba(0,0,0,.1);
}




/*------------------------round media quary------------------*/
@media(min-width: 990px) {

	.round-img-container--outer {
		width: 90%;
		box-sizing: border-box;
	}

	.round-img-container--inner  {
		width: 88%;
		height: auto;
		flex-direction: row;
		max-width: 1200px;
	}
}
/*-------------------------Box-media-quary---------------------*/
@media(max-width: 990px) {

	.container {
		width: 90%;
		box-sizing: border-box;
	}

	.base-heading  {
		width: 80%;
		height: auto;
	}

	/* .box  {
		/* height: 200px;
		width: 500px; */
    /* }
} */ 

@media(max-width: 770px) {
		
.container {
		width: 90%;
		box-sizing: border-box;
	}

	.base-heading  {
		width: 100%;
		/*height: auto;*/
		flex-direction: column;
	}

	.box  {
		/* height: 20vh;
		width: 80%; */
		width: 100%;
	}


/*-------------------------Navication-media-quary------------------------*/

@media(max-width: 780px) {
	header{
		padding: 0 20px;
	}
	.btn {
		display: block;
	}
	header nav
	{	position: absolute;
		width: 100%;
		height:calc(100vh -50px);
		background-color: #333;
		top:50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active{
		left:0;
	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.2)
	}
	.search-div {
		text-align: center;
		
	}
}
/*-----------------------------------------END--------------------------------*/



/*==============================
=            Helper            =
==============================*/
.round {
	border-radius: 50%;
}

.box-shadow--style-1 {
	box-shadow: 10px 15px 15px;
}

.box-shadow--style-2 {
	box-shadow: 6px 6px 10px  #494c51;
}