@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar-brand{
    padding-left: 50px;

}
/* *{
    box-sizing: border-box;
} */
.navbar-nav a{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 17px;

}


/* .main-header{
    background-color: #008CBA;
} */
/* .welcome-area{
    padding-top: 100px;
    margin-top: 100px;
    background-color: #3b5998;
} */

.main-footer{
    /* background-color:#FFD77C ; */
    background-color: #D1D0CE;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
  }

  .container  {
	position: relative;
  	background: #fff;
	height: auto;
  	margin: 2% auto;
  	padding: 2%;
  	width: 80%;
}
