{% block content %}
<!-- Footer Starts -->
<footer class="main-footer">
    <!-- Footer Area Starts -->
        <div class="footer-area">
        <!-- Nested Container Starts -->
            <div class="container">
                <div class="row">
                <!-- Contact Information Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4>Contact Information</h4>
                        <ul class="list-unstyled address-list">
                            <li class="clearfix address">
                                <i class="fa fa-home"></i>
                                Pate road, off Lunga Lunga road, Industrial Area. <br>P.O Box 56739-00200, Nairobi, Kenya
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-fax"></i>
                                + 254 735 603 946
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-phone"></i>
                                + 254 700 176 672
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@jubalandqualitycontrolservice.co.ke">info@jubalandqualiycontrolservice.com </a>
                            </li>
                        </ul>
                    </div>
                <!-- Contact Information Ends -->
                <!-- Products Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4>Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="creams+gels.html" title="creams + gels"><i class="fa fa-angle-right"></i> Creams + Gels</a></li>
                            <li><a href="syrups.html" title="syrups, suspensions, solutions"><i class="fa fa-angle-right"></i> Syrups | Suspensions | Solutions</a></li>
                            <li><a href="tablets.html" title="tablets"><i class="fa fa-angle-right"></i> Tablets</a></li>
                            <li><a href="vets.html" title="veterinary"><i class="fa fa-angle-right"></i> Veterinary</a></li>
                        </ul>
                    </div>
                <!-- Products Ends -->
                <!-- General Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4>General</h4>
                        <ul class="list-unstyled tweets-list">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="manufacturing.html">Manufacturing</a></li>
                            <li><a href="marketing-distribution.html">Marketing + Distribution</a></li>
                            <li><a href="quality-assurance.html">Quality Assurance</a></li>
                            <li><a href="contacts.html">Contact Us</a></li>
                            <li>Sitemap</li>
                        </ul>
                    </div>
                <!-- Twitter Ends -->
                <!-- Signup Newsletter Starts -->
                    <div class="col-md-4 col-xs-12 newsletter-block">
                        <h4>Signup Newsletter</h4>
                        <form action="#" class="newsletter">
                            <div class="form-group">
                                <input class="form-control" placeholder="Your Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter your Email Address" type="email">
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                        </form>
                    </div>
                <!-- Signup Newsletter Ends -->
                </div>
            </div>
        <!-- Nested Container Ends -->
        </div>
    <!-- Footer Area Ends -->
    <!-- Copyright Starts -->
        <div class="copyright">
            <div class="container clearfix">
                <p class="pull-left">
                    © Copyright 2018. Jubaland Chemicals | Design By <span><a href="#" target="_blank" title="Dengates | ICT Business Solutions">Eid</a></span>					</p>
                <ul class="list-unstyled list-inline pull-right">
                    <li><a href="#">Terms Of Services</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
    <!-- Copyright Ends -->
    </footer>
<!-- Footer Ends -->
{%endblock%}