{%extends 'base.html'%}
{% load static %}
{% block content %}

<!-- Carousel 100% Fullscreen -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item bg bg1 active">
        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="item bg bg2">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="item bg bg1">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
  <!-- /end Carousel 100% Fullscreen -->
<!-- Main Banner Starts -->
<div class="main-banner services" style="background-color: tomato;height: 200px;">
    <div class="container">
        <h2 style="text-align: center; padding-top: 100px;"><span>OUR SERVICES</span></h2>
    </div>
</div>
<br>
<!-- Main Banner Ends -->

<!-- Main Container Starts -->
<div class="container main-container">
<!-- Nested Row Starts -->
    <div class="row">
    <!-- Mainarea Starts -->
        <div class="col-md-9 col-xs-12">
            <div class="news-post-list">
                <article class="news-post">
                    
                    <div class="inner">
                        <h4>Quality control service</h4>
                        
                        <p align="justify">
                            It is the policy of the Jubaland Quality Control Services (JQCS) to provide inspection services that consistently meet or exceed requirements of our Customers. We achieve this goal by implementing Quality Management Systems that conforms to ISO/IEC 17020 and emphasis:								</p>
                        <p align="justify">
                            Professionalism and Excellence;.								</p>
                            <p align="justify">
                                Professionalism and Excellence;.								</p>
                                <p align="justify">
                                    Human Resource Development;								</p>
                                    <p align="justify">
                                        Maintenance of a Work Culture which actively seeks opportunities for continual improvement; and							</p>            
                                        <p align="justify">
                                            The application of the State-of-Art Technologies.							</p>

                    </div>
                </article>
            
            </div>
        
        </div>
    <!-- Mainarea Ends -->
    <!-- Sidearea Starts -->
        <div class="col-md-3 col-xs-12">

            <h4 class="side-heading1 top">Important</h4>
            <ul class="list-unstyled list-style-1">
                <li><a href="about-us.html" title="about us">About Us</a></li>
                <li><a href="manufacturing.html" title="manufacturing">Manufacturing</a></li>
                <li><a href="marketing-distribution.html" title="marketing and distribution">Marketing + Distribution</a></li>
                <li><a href="quality-assurance.html" title="quality assurance">Quality Assurance</a></li>
                <li><a href="contacts.html" title="contacts">Contacts</a></li>
                
            </ul>
            <h4 class="side-heading1 top">Membership</h4>
            <ul class="list-unstyled list-style-1">
                <li>
                <img src="assets/fkpm.jpg"> <img src="assets/eapm.jpg"> <img src="assets/kam.jpg">
                </li>
                
            </ul>
        </div>
    <!-- Sidearea Ends -->
    </div>
<!-- Nested Row Ends -->
</div>
<!-- Main Container Ends -->


<div class="container main-container">
    <!-- Nested Row Starts -->
        <div class="row">
        <!-- Mainarea Starts -->
            <div class="col-md-9 col-xs-12">
                <div class="news-post-list">
                    <article class="news-post">
                        
                        <div class="inner">
                            <h4>Industrial sector</h4>
                            
                            <p align="justify">
                            Skylight Chemicals is a leading QA/GMP contract service provider of integrated chemistry, drug development and manufacturing services to the pharmaceutical and biotechnology industries. We are experts in medicinal chemistry, process development and reaction optimization through to QA/GMP API production and sterile fill-finish services.  Skylight Chemicals brings experience to every customer project and we emphasize quality, speed and flexibility. We can accelerate your Drug Discovery and Development Program by integrating process development, API manufacturing and finish dose manufacturing all at a single location.								</p>
                            <p align="justify">
                            Skylight Chemicals has the competence, flexibility and facilities to take on challenging projects which require custom tailored processes. With a broad range of expertise and technologies available, Skylight Chemicals offers support and services ranging from development and procurement to full-scale manufacturing, distribution, tech transfer, stability studies, and life cycle management. In addition to human pharmaceuticals, Recipharm can also supply medical devices and veterinary products.								</p>
    
    
                        </div>
                    </article>
                
                </div>
            
            </div>
        <!-- Mainarea Ends -->
        <!-- Sidearea Starts -->
            <div class="col-md-3 col-xs-12">
    
                
            </div>
        <!-- Sidearea Ends -->
        </div>
    <!-- Nested Row Ends -->
    </div>
    <!-- Main Container Ends -->


 

{%endblock%}